

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
}

.App {
  font-family: 'Oxygen', sans-serif;
  position: relative;
}

.content-wrapper {
  min-height: calc(100vh - 57px) !important;  
}

.flex-1 {
  flex: 1;
}

button {
  background-color: transparent;
}

.bg-purple {
  background-color: #99154E !important;
  border-color: #99154E !important;
}

div.fixed-bg {
  position: fixed;
  z-index: 1040;
  background-color: #dbdbdcc9;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

div.fixed-bg.client-side {
  background-color: #0000004d;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.order-confirm.popup {
  left: 10px;
  right: 10px;
  top: 100px;
}

.fixed-bg button.close-btn {
  font-size: 22px;
  position: absolute;
  right: 25px;
  border: unset;
  top: 10px;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.main-padding {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1920px;
  margin: auto;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.larger {
  font-size: 32px;
}
.large {
  font-size: 28px;
}
.big {
  font-size: 18px;
}
.medium {
  font-size: 16px;
}
.sm {
  font-size: 13px;
}
.tiny {
  font-size: 10px;
}

.black {
  color: #534E52;
}
.white {
  color: #ffffff;
}
.yellow {
  color: #FFB300;
}
.dark-grey {
  color: #4D4D4D;
}
.grey {
  color: #BEBEBE;
}

.bold {
  font-weight: bold;
}

.wp-nowrap {
  white-space: nowrap;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* inputs */

.checkbox-div {
  position: relative;
}

.checkbox-div input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 0px;
  height: 0px;
  z-index: -100;
}

.checkbox-div > label {
  padding-left: 25px;
  font-size: 13px;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.checkbox-div > label::before {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 50%;
  border: 2px solid #7585ff;
  width: 13px;
  height: 13px;
  box-sizing: content-box;
}

.checkbox-div > label::after {
  content: '';
  box-sizing: content-box;
  position: absolute;
  left: 5px;
  border-radius: 50%;
  background-color: #7485ff;
  width: 7px;
  height: 7px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox-div input[type='checkbox']:checked + label::after {
  opacity: 1;
}

/* header */

.header-component {
  color: #FCFAEF;
  background: #534E52;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.header-component h2.logo {
  letter-spacing: 8px;
}

.cart-btn {
  font-size: 20px;
  height: 23px;
  line-height: 23px;
}
 
.header-component .burger-btn {
  border: unset;
}

.header-component .burger-btn > div {
  height: 5px;
  width: 25px;
  border-radius: 25px;
  background-color: #FCFAEF;
}

.header-component .burger-btn > div:not(:last-child) {
  margin-bottom: 4px;
}

/* mobile menu */

button.back, .navigation-btn,
.cart-btn {
  border: unset; 
}

div.divider {
  padding-bottom: 50px;
}

.navigation-btn {
  color: inherit !important;
}

.mobile-menu-component,
.card-component, 
.login-component,
.cart-component,
.register-component,
.slide-in-left {
  width: 100%;
  height: 100vh;
  /* background-color: #d3d3d3; */
  background: linear-gradient(
    312deg
    , #C7956D, #F2D974);
  z-index: 20;
  top: 0;
  padding: 30px 0;
  overflow: auto;
  color: #534E52;

  animation-name: slideInLeft;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.mobile-menu-component {
  width: 220px;
  padding-left: 5px;
  animation-name: slideInLeftMobileMenu;
}

.login-component[exitanimation="1"],
.cart-component[exitanimation="1"],
.register-component[exitanimation="1"],
.card-component[exitanimation="1"],
.slide-in-left[exitanimation="1"]{
  animation-name: slideOutRight;
}

.mobile-menu-component[exitanimation="1"] {
  animation-name: slideOutRightMobileMenu;
}

@keyframes slideInLeft {
  0%   {left: 100vw;}
  100% {left: 0;}
}

@keyframes slideInLeftMobileMenu {
  0%   {left: 100vw;}
  100% {left: calc(100vw - 200px);}
}

@keyframes slideOutRight {
  0%   {left: 0;}
  100% {left: 100vw}
}

@keyframes slideOutRightMobileMenu {
  0%   {left: calc(100vw - 200px);}
  100% {left: 100vw}
}

.cart-component {
  z-index: 25;
}

.login-component {
  z-index: 30;
}

.menu-component,
.restaurant-component {
  min-height: 100vh;
  padding: 58px 0px 0px;
  background-color: #965D62 ;
}

/* category buttons */

.category-buttons,
.promos {
  overflow-x: auto;
  padding-left: 12px;
}

.padded {
  width: 12px;
  flex-shrink: 0;
  min-width: 12px;
  max-width: 12px;
}

.category-buttons > button.category-btn {
  padding: 4px 15px;
  border-radius: 4px;
  font-weight: bold;
  flex-shrink: 0;
  background-color: #f2d974;
  border: 1px solid #f2d974;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.category-buttons > button.category-btn:not(:last-child) {
  margin-right: 8px;
}

.category-buttons > button.category-btn.selected {
  background-color: #99154E !important;
  border-color: #99154E !important;
  color: #FCFAEF;
}

/* promos */

.promos .promo-item {
  z-index: 2;
}

.promos .promo-item:not(:last-child) {
  margin-right: 15px;
}

.promos .promo-item .img-wrapper {
  overflow: hidden;
  min-width: 280px;
  min-height: 180px;
  max-width: 500px;
  max-height: 333px;
  width: 75vw;
  height: 45vw;
  border-radius: 4px 20px 20px 4px;
  box-shadow: inset 0px -40px 100px -40px #d3504ab5, inset 0px 0px 200px -30px #1616168f, -8px 0px 8px -2px #16161666;
}

.promos .promo-item .img-wrapper > img {
  width: 140%;
  z-index: -2;
}

.promos .promo-item .promo-item-comment {
  letter-spacing: 2px;
}

/* menu */
.rest-img-wrapper {
  position: relative;
  z-index: 2;
}

.img-wrapper.rest-img {
  overflow: hidden;
  width: 100vw;
  height: 210px;
  box-shadow: 0 -40px 60px -30px #534e52 inset, inset 0 75px 50px -50px #965d62;
}
.img-wrapper.rest-img > img {
  width: 145%;
  z-index: -1;
}
.menu .category button.category-header {
  border: unset;
  width: 100%;
  color: #534E52;
  font-weight: bold;
  background-color: #F2D974;
  padding: 5px 15px;
}

.menu .category button.category-header > i {
  
}

.category {
  background-color: #F2D974;
  padding-bottom: 20px;
  margin-bottom: 2px;
  border-radius: 1rem !important;
}

.category-header,
 .menuitem-rounded
{
  border-radius: 1rem !important;
}
.restaurants .category {
  background-color: transparent;
}
.category .item {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  flex-wrap: wrap;
  padding-left: calc(20vw + 18px);
  min-height: 22vw;
  transition: padding 0.4s;
}

.restaurants .category .item {
  padding-bottom: 25px;
}

.category .item .img-wrapper {
  top: 8px;
  left: 8px;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  margin-right: 10px;
  border-radius: 50%;
  transition: width 0.6s, height 0.6s, margin 0.2s, border-radius 0.5s;
}

.category .item .img-wrapper > img {
  width: 200%;
  transition: width 0.6s;
}

.category .item.expanded {
  padding-left: 8px;
  padding-top: calc(40vw + 15px);
}
.category .item.expanded .img-wrapper {
  width: calc(100% - 16px);
  height: 40vw;
  border-radius: 5px;
  margin: 0 0 10px;
}

.category .item.expanded .img-wrapper > img {
  width: 120%;
}

.category .item .item-description {
  flex: 1;
}

.category .item .buttons {
  bottom: 0;
  right: 0;
}

.category .item .buttons > button,
.cart-item-div button.remove,
.cart-item-div button.add {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: unset;
  color: #965D62;
}
.category .item .buttons > button.remove,
.cart-item-div button.remove {
  margin-right: 8px;
}

.added-item {
  background-color: #C7956D;
  padding: 10px 15px 15px;
}

/* cart */

div.cart-item-div .img-wrapper {
  width: 50px;
  overflow: hidden;
  height: 50px;
}

div.cart-item-div .img-wrapper > img {
  width: 125%;
}

div.cart-item-div .badge {
  font-size: 16px;
  background-color: #965D62;
  border-radius: 5px;
  padding: 10px;
}
